mat-card {
    width: auto;
}

.body-list {
    background: #F8F8F8;
}

.container-grid {
    padding: 0 10vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 20px;
}

.container {
    position: relative;
}

#infinite-scroller {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    padding: 0;
    list-style: none;
}

#app-nofilme {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center-top;
    background-size: cover;
    background-color: #F8F8F8;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
.content-search {
    padding: 0 10vw;
}
.search {
    background: #ffffff;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.container__btn {
    position:  absolute;
    display: inline-block;
    right:  0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
}

.search__input {
    border: 0px;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    font-size: 16px;
    box-sizing: border-box;
}

.search__btn {
    position:  relative;
    display:  block;
    min-width: auto;
    padding: 3px 9px 3px 10px;
    border-radius: 25em;
}

.search {
    position:  relative;
}

.search__input {width:  100%;}

.nav {
    background: #ffffff;
    padding: 15px 0;
    border-bottom: 1px solid #F1F1F1;
}

.nav>.content-search>.search{
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: none;
    overflow: hidden;
}

.image-card {
    height: 300px;
    overflow: hidden;
    width: calc(100% + 48px);
    margin: 0 -24px 16px -24px;
}

.image-card:first-child {
    margin-top: -24px;
}

.mat-card-image {
    width: 100%;
    margin: auto;
}

.mat-card-image:first-child {
    margin: auto;
}

a.filme {
    display: block;
    text-decoration: none;
    transition: .3s cubic-bezier(0.13, 0.36, 0.6, 0.86);
}

a.filme:hover {
    transform: translateY(-10px) !important;
    transition: .3s cubic-bezier(0.13, 0.36, 0.6, 0.86);
}

.spinner-carregamento {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}